.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/

app.*.symbols
app.*.map.json

**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/generated/
**/android/**/gradle/
**/android/**/reports/
**/android/**/outputs/
**/android/**/tmp/

key.properties
**/*.jks
**/*.keystore
**/*.p12
**/android/app/google-services.json

**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/.generated/
**/ios/Pods/
**/ios/Podfile.lock

.idea/
.vscode/
*.iml
*.iws
*.ipr
.gradle/

migrate_working_dir/
*.class
*.log
*.pyc
*.swp

!/android/gradle/wrapper/gradle-wrapper.jar